apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: 442042536417.dkr.ecr.ap-south-1.amazonaws.com/python-ci-cd-demo:latest
        ports:
        - containerPort: 5000
